<mat-card class="character-card">
  <mat-card-title-group>
    <mat-card-title>
      {{infoCharacter?.name}}
    </mat-card-title>
    <mat-card-subtitle>
            <span>Especie: </span>
            <span class="text-white">{{infoCharacter?.species}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>Estatus: </span>
      <span class="text-white">{{infoCharacter?.status}}</span>
    </mat-card-subtitle>
    <img mat-card-md-image src="{{infoCharacter?.image}}">
  </mat-card-title-group>
  <mat-card-actions>
    <button class="text-orange-500" (click)="goToDetail()" mat-button>Ir a detalle</button>
  </mat-card-actions>
</mat-card>