.character-card {
  margin-bottom: 8px;
  width: 400px;
  background: #3c3e43;
  color: #FFFFFF;
}

.mat-card-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: rgb(158, 158, 158);
  margin-top: 5px  !important;
}

img {
  border-radius: 15px;
}