<div>
      <button mat-button class="text-orange-500" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </button>
</div>
<div class="text-center text-orange-500">
  <h1>Detalle de personaje</h1>
</div>
<article>
  <mat-card class="detail-card w-5/6 m-auto xl:w-3/4">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex items-center justify-center">
        <img src="{{infoCharacter?.image}}" alt="">
      </div>
      <div class="flex items-stretch sm:p-5 md:pl-0">
        <div class="w-full">
          <div class="m-1.5 text-center">
            <span class="text-base sm:text-4xl xl:text-5xl">{{infoCharacter?.name}}</span>
          </div>
          <div class="m-1.5 sm:m-5 text-base sm:text-xl xl:text-3xl">
            <span class="mat-card-label">Origen: </span>
            <span>{{infoCharacter?.origin?.name}}</span>
          </div>
          <div class="m-1.5 sm:m-5 text-base sm:text-xl xl:text-3xl">
            <span class="mat-card-label">Especie: </span>
            <span>{{infoCharacter?.species}}</span>
          </div>
          <div class="m-1.5 sm:m-5 text-base sm:text-xl xl:text-3xl">
            <span class="mat-card-label ">Estatus: </span>
            <span>{{infoCharacter?.status}}</span>
          </div>
          <div class="m-1.5 sm:m-5 text-base sm:text-xl xl:text-3xl">
            <span class="mat-card-label">Genero: </span>
            <span>{{infoCharacter?.gender}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</article>