<div class="text-center text-orange-500">
  <h1>Lista de personajes</h1>
</div>

<mat-paginator
  hidePageSize="true"
  [length]="infoApi.count.valueOf()"
  [pageSize]="20"
  (page)="pageEvent($event)"
  *ngIf="infoApi">
</mat-paginator>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <ng-container *ngFor="let character of data">
    <app-character-card class="p-4 flex items-center justify-center" [infoCharacter]="character">
    </app-character-card>
  </ng-container>
</div>
