<app-toolbar [title]='"Reto de Enrique Virgen"'></app-toolbar>
<main class="main">
  <app-banner [title]='"Rick and Morty"'></app-banner>
  <section class="section-app">
    <router-outlet></router-outlet>
  </section>
</main>