  .section-title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: calc(35vh - 60px);
    text-align: center;
    position: relative;
    background-color: #ffffff;
  }

  .title {
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    line-height: 1.1;
    text-align: center;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 3.75rem;
    }
  }

  @media (max-width: 425px) {
    .title {
      font-size: 3.125rem;
    }
  }



  .section-title .title-image {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .section-title>.title-image>svg {
    width: 100%;
    height: 100%;
    fill: rgb(245, 245, 245);
  }