  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(51, 51, 51);
    font-weight: 600;
  }

  .toolbar svg {
    margin: 0 16px;
    fill: rgb(51, 51, 51);
    overflow: hidden;
  }